name: Rust

on:
  push:
    branches: [ master ]
  pull_request:
    branches: [ master ]

jobs:
  build:

    runs-on: ubuntu-22.04

    steps:
    - uses: actions/checkout@v4

    - name: Install toolchain
      uses: actions-rust-lang/setup-rust-toolchain@v1.15.1
      with:
        components: rustfmt

    - name: Check formatting
      run: cargo fmt --check

    - name: Build
      run: cargo build --verbose --all-targets

    - name: Run tests
      run: cargo test --verbose
